<!-- requests.ejs -->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>EJS Engine</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            
            <div class="row text-center">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Description</th>
                            <th scope="col">Weight [kg]</th>
                            <th scope="col">Place</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i < reqs.length; i++) { %>
                            <tr>
                                <td><%= reqs[i].date %></td>
                                <td><%= reqs[i].description %></td>
                                <td><%= reqs[i].weight %></td>
                                <td><%= reqs[i].place %></td>
                                <td><%= reqs[i].status %></td>
                                <td><a href="/requests/edit/<%= reqs[i]._id %>" class="btn btn-primary">Edit</a></td>
                                <td><a href="/requests/delete/<%= reqs[i]._id %>" class="btn btn-danger">Delete</a></td>
                          </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    
    </body>
</html>
