<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User page</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <br>
        <div class="col-sm-10">
          <h1 class="">Hello, <%= user.username %></h1><br>
        </div>
        <div class="col-sm-2">
          <a href="/users" class="pull-right">
            <img title="profile image" class="img-circle img-responsive" src="/img/avatar1.png">
          </a>
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col-sm-12">
        </div>
        <div class="col-sm-3">
          <!--left col-->
          <ul class="list-group">
            <li class="list-group-item text-muted" contenteditable="false">Profile</li>
            <li class="list-group-item text-right">
              <span class="pull-left"><strong class="">Joined:</strong></span>
              <%= user.dateJoined %>
            </li>
            <li class="list-group-item text-right">
              <span class="pull-left">
                <strong class="">Name:</strong>
              </span>
              <%= user.username %>
            </li>
            <li class="list-group-item text-right">
              <span class="pull-left">
                <strong class="">Email:</strong>
              </span>
              <%= user.email %>
            </li>
            <li class="list-group-item text-right">
              <span class="pull-left">
                <strong class="">Role:</strong>
              </span>
              <%= user.type %>
            </li>
          </ul>

          <a href="/user/<%= user._id %>/editUserProfile" class="btn btn-lg btn-primary btn-block">Edit profile</a>
        </div>

        <div class="col-sm-9" style="" contenteditable="false">
          <div class="panel panel-default">
            <div class="panel-heading">User Requests</div>
              <div class="panel-body">
                <div class="row text-center">
                  <table class="table table-striped ">
                    <thead>
                      <tr>
                        <th scope="col">Description</th>
                        <th scope="col">Weight [kg]</th>
                        <th scope="col">X</th>
                        <th scope="col">Y</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for(var i = 0; i < consignments.length; i++) { %>
                        <% if (consignments[i].uid == user._id) { %>
                          <tr>
                            <td><%= consignments[i].description %></td>
                            <td><%= consignments[i].weight %></td>
                            <td><%= consignments[i].x %></td>
                            <td><%= consignments[i].y %></td>
                            <td><%= consignments[i].status %></td>
                            <td>
                              <a href="/user/<%= user._id %>/edit/<%= consignments[i]._id %>" class="btn btn-primary">
                                Edit
                              </a>
                            </td>
                            <td>
                              <a href="/user/<%= user._id %>/delete/<%= consignments[i]._id %>" class="btn btn-danger">
                                Delete
                              </a>
                            </td>
                          </tr>
                        <% } %>
                      <% } %>
                  </table>
                </div>
              </div> <!-- panel body -->
            </div>
            <div>
              <!-- <p>You do not have any tasks, please, add the consignment!</p> -->
              <a href="/user/<%= user._id %>/add" class="btn btn-lg btn-primary">New Request</a>
            </div>
          </div>
        </div>
        <!-- <br>
        <div class="row">
          <div class="col-sm-3">
            <div class="panel panel-default">
              <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i>
              </div>
              <div class="panel-body"><a href="http://facebook.com" class="">facebook.com</a>
              </div>
            </div>
          </div>
        </div> -->
    </div> <!-- container -->
  </body>
</html>
